body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(238, 240, 214);
  margin: 0;
  background: #3D2850;
  background: radial-gradient(at right top, #351174, #010101);
  transition: all 0.5s;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 0px 0;
}

p{
  margin: 0px;
  margin-bottom: 90px;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.indexcontainer{
  width: 190px;
  
}

.indexcontainerdad{
  display: flex;
  justify-content: center; 
  align-items: center;     
  
}

.avocadochat{
  padding-top: 60px;
}

.avocadochat img{
  display: flex;
  justify-self:center ;
}

.indexinput{
  background-color: rgba(0, 0, 0, 0.100);
  color: white;
  margin: 1px;
  padding: 10px;
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(238, 240, 214);
  border-width: 1px;
  width: 100%;
  box-sizing: border-box
}

.indexinput::placeholder{
  color: rgb(238, 240, 214);
}

.indexenterbutton{
  background-color: #2b0d5e;
  color: rgb(238, 240, 214);
  margin: 1px;
  padding: 10px 73px;
  border-radius: 6px;
  border-style: solid;
  border-color: #5d00ff;
  border-width: 1px;
  width: 100%;
}

.indexenterbutton{
  transition: 0.5s;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px;

}

.indexenterbutton:hover{
  transition: 0.5s;
  color: rgb(255, 255, 255);
  background-color: #5d00ff;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #ffffff2c;
  

}
